img {
    width: 150px;
    border-radius: 40px;
    float: left;
    margin-right: 20px;
    margin-left: 30px;
  }

  h1 {
    margin-top: 25px;
  }

  em.name {
    color: red;
    font-style: italic;
    font-size: large;
  }
  em.srbiau {
    color: brown;
    font-style: normal;
    font-size: large;
  }
  a {
    margin-left: 200px;
    font-size: x-large;
    color: blue;
  }
  p.about {
    margin-left: 200px;
  }
  span.name {
    background-color: gold;
  }
  table,
  td,
  th {
    margin-top: 100px;
    margin-left: 250px;
    border: 1px solid gray;
    border-collapse: collapse;
  }